/* Navbar */
.menu-list{
    display:flex;
    position:fixed;
    flex-direction: column;
    /* visibility: hidden; */
    z-index: 2;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    transition: clip-path 0.5s ease, visibility 0.3s ease; 
}
#menu-list.show {
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-list > a{
    padding-top: 30px;
}
/* .menu-list:hover,#menu-button:hover + .menu-list{
    visibility:visible;
} */
#menu-button-area{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding : 0px ;

    align-items: center;
}






/* 第一篇貼文 */
#first-post-img{
    opacity: 90%;
}
.first-post-list-content{
    margin-top: 0px;
    margin-bottom: 12px;
}
#first-post-list{
    list-style-type: upper-roman;
}

/* 第二篇貼文 */

/* 第三篇貼文 */

/* 第四篇貼文 */

/* 第五篇貼文 */

/* 第六篇貼文 */

/* 第七篇貼文 */

/* 第八篇貼文 */
